<div class="jumbotron">
  <div class="typeahead-container">
    
  	<div class="example example-countries">
        <h2 class="example-name" style="color:white">Find Professional Development Now</h2>

        <div class="demo">
        	<%= form_tag seminars_path, :method => 'get' do %>
	        	<%= text_field_tag :search, params[:search], :class => "form-control example-countries typeahead", :placeholder => "Enter search"%>
	        	<%= submit_tag "search", :class => "btn btn-primary autocomplete-btn" %>
        	<% end %>
        </div>
	</div>
      <!-- end typeahead -->
  </div>
</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>