body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.listing {
	border:2px solid #eeeeee;
	min-height: 800px;
}


.list-group-item {
	border:0;
}

.facetNav {
	padding: 40px 15px;
  	text-align: center;
	border:2px solid #eeeeee;
	border-right:0;
}

.jumbotron {
	height: 500px;
	background: url(image_path('jumbotron_opaque_image.jpg')) no-repeat 0;
}

.typeahead-container {
	text-align: center;
}