body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.listing {
	border:2px solid #eeeeee;
	height: 800px;
}


.list-group-item {
	border:0;
}

.facetNav {
	padding: 40px 15px;
  	text-align: center;
	border:2px solid #eeeeee;
	border-right:0;
}