
    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
      <div class="row">
        <div class="col-md-4 facetNav">
          <span><h2>Facets</h2></span>
          <a href="/seminars?blah[]=Technology Coaching&blah[]=ipad">Facets</a>

          
        </div>
        <div class="col-md-7 listing">
          <ul>
            <% @seminars.each do |seminar| %>
              <li class="list-group-item">
                <h2><%= seminar.title %></h2>
                <%= seminar.description %>
                <% seminar.tags.each do |tag| %>
                  <%= tag.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div><!-- /.container -->



<!-- <h1>Listing seminars</h1>

<br>

<%= link_to 'New Seminar', new_seminar_path %> -->
