
    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
      <div class="row">
        <div class="col-md-4 facetNav">
          <span><h2>Facets</h2></span>
        </div>
        <div class="col-md-7 listing">
          <ul>
            <% @seminars.each do |seminar| %>
              <li class="list-group-item">
                <h2><%= seminar.title %></h2>
                <%= seminar.description %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

<!-- <h1>Listing seminars</h1>

<br>

<%= link_to 'New Seminar', new_seminar_path %> -->
